<style>
    .button-list{
        display: none;
    }
</style>
<h1>確定シフト（<%= @month %>）</h1>

<table border="1" style="width: 100%; border-collapse: collapse; text-align: center; margin: 0; padding: 0;">
  <thead>
    <tr>
      <th>名前</th>
      <% @date_range.each do |date| %>
        <th><%= date.day %>日</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @shifts.each do |user_id, shifts| %>
      <tr>
        <td><%= User.find(user_id).name %></td>
        <% @date_range.each do |date| %>
          <td>
            <% shift = shifts.find { |s| s.tdate.to_date == date } %>
            <%= shift ? shift.shift : "休" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>