<style>
.useradmin {
  width: 300px; /* テーブル全体の横幅を設定 */
  margin: 0 auto; /* 中央揃えにする場合 */
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
}

.useradmin th, .useradmin td {
  border: 1px solid #ccc; /* 枠線を追加 */
  padding: 8px;
}


</style>
<h2>ユーザー管理</h2><br>
<table class="useradmin">
  <thead>
    <tr>
      <th style="width:100px;">名前</th>
      <th style="width:100px;">管理者権限</th>
      <th style="width:130px;"> </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.admin ? "有り" : "無し" %></td>
        <td>
          <%= link_to "権限を編集", edit_admin_user_path(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
